
argh==0.28.1
async-timeout==4.0.2
black==23.3.0
celery==5.2.7
Django==4.2.1
django-autoslug==1.9.9
django-celery-email==3.0.0
django-countries==7.5.1
django-environ==0.10.0
django-filter==23.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
factory-boy==3.2.1
Faker==18.9.0
flake8==6.0.0
flower==1.2.0
isort==5.12.0
Pillow==9.5.0
psycopg2-binary==2.9.6
PyJWT==2.7.0
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-factoryboy==2.5.1
PyYAML==6.0
redis==4.5.5
watchdog==3.0.0
drf-spectacular==0.26.2
django-cors-headers==4.0.0
spacy==3.7.4
django-debug-toolbar==4.3.0
